<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Person prompt:</strong>
    <%= person.person_prompt %>
  </p>

  <p>
    <strong>System prompt:</strong>
    <%= person.system_prompt %>
  </p>

</div>
