<div id="<%= dom_id prompt %>">
  <p>
    <strong>Name:</strong>
    <%= prompt.name %>
  </p>

  <p>
    <strong>Person prompt:</strong>
    <%= prompt.person_prompt %>
  </p>

  <p>
    <strong>System prompt:</strong>
    <%= prompt.system_prompt %>
  </p>

</div>
