<div id="<%= dom_id friend %>">
  <p>
    <strong>Name:</strong>
    <%= friend.name %>
  </p>

  <p>
    <strong>Person prompt:</strong>
    <%= friend.person_prompt %>
  </p>

  <p>
    <strong>System prompt:</strong>
    <%= friend.system_prompt %>
  </p>

</div>
