<div id="<%= dom_id chat %>">
  <table class="table">
    <thead>
      <th class="row">Messages</th>
    </thead>
    <tbody>
      <tr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width:15%; min-width:7rem;">Role</th>
              <th scope="col">Content</th>
            </tr>
          </thead>
          <tbody>
            <% chat.messages.in_order.each do |message| %>
              <tr>
                <td><%= message.role %></td>
                <td>
                  <%= message.content %>
                  <div class="display-block mt-1">
                    <% message.audio_files.each do |audio_file| %>
                      <audio controls>
                        <source src="<%= audio_file.url %>" type="audio/wav">
                        Your browser does not support the audio element.
                      </audio>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </tr>
    </tbody>
  </table>
</div>
