<div id="<%= dom_id chat %>">
  <table class="table">
    <thead>
      <th class="row">Messages</th>
    </thead>
    <tbody>
      <tr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width:15%; min-width:7rem;">Role</th>
              <th scope="col">Content</th>
            </tr>
          </thead>
          <tbody>
            <% chat.messages.each do |message| %>
              <tr>
                <td><%= message.role %></td>
                <td><%= message.content %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </tr>
    </tbody>
  </table>
</div>
